Package               Version
--------------------- -------
asgiref               3.2.10
Django                3.1
django-rest-framework 0.1.0
djangorestframework   3.12.4
pip                   21.0.1
pytz                  2021.1
setuptools            54.2.0
sqlparse              0.4.1
wheel                 0.36.2
